.info {
    box-sizing: border-box;
    width: 735px;
    padding: 30px 30px 0;
    background-color: #ecf0f4;
    color: #667799;
}

.info h1 {
    margin-top: 0;
    font-weight: 300;
}

.info a:hover {
    color: #00aa00;
}

.info .preamble {
    font-size: 16px;
    line-height: 20px;
}

.info p {
    font-size: 14px;
    line-height: 22px;
}

.info .item-img-wrapper {
    position: relative;
    width: 278px;
    margin-right: 20px;
    flex-shrink: 0;
    overflow: hidden;
}

.info .item-img {
    position: absolute;
}

.info .item-img.img-chill {
    top: -70px;
}

.info .item-img.img-garden {
    left: -80px;
    height: 105%;
}

.info .question {
    display: flex;
    margin-bottom: 40px;
}

.info .question:first-of-type {
    margin-top: 40px;
}

.info .question:nth-of-type(even) {
    flex-direction: row-reverse;
}

.info .question:nth-of-type(even) .item-img-wrapper {
    margin-right: 0;
    margin-left: 20px;
}

.info .item-no-photo {
    padding-left: 140px;
    background-repeat: no-repeat;
    background-image: url("../img/balcony_extra.png");
}

.info .attention {
    margin-bottom: 40px;
    padding: 25px 120px 10px 140px;
    background-color: #dde5f0;
    background-repeat: no-repeat;
    background-image: url("../img/balcony_attention.png");
    background-position: 40px 50%;
}

.info .attention span {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 700;
}

.info .attention p {
    font-style: italic;
    margin-top: 5px;
}

.info .highlight {
    border-top: 2px solid #a4bcce;
    padding: 20px 40px 20px 0;
    font-weight: 700;
}
